@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

*{
    font-family:"Inter", sans-serif;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 3s ease-in-out infinite ;
}


@keyframes wiggle {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-3deg); }
  75% { transform: rotate(3deg); }
}

.hover-wiggle:hover {
  animation: wiggle 0.5s linear 1;
}

@keyframes pulse-glow {
  0%, 100% {
    opacity: 1;
    filter: drop-shadow(0 0 5px #00FF88);
  }
  50% {
    opacity: 0.8;
    filter: drop-shadow(0 0 20px #00FF88);
  }
}

.animate-glow {
  animation: pulse-glow 3s ease-in-out infinite;
}